body {
    background-color: #1c1c1c;
    color: #cccccc;
    font-family: "Open Sans";
}

.overskrift {
    text-align: center;
    }
    
.text {
      margin: auto;
      width: 500px; 
      padding: 20px;
      font-family: "Open Sans";
    }